.header{
    display: flex;
    justify-content: center;
}
.header-logo{
    margin-right: 30px;
    color: red;
}

.header-list ul{
    text-align: center
}

.header-list ul li{
    float: right;
    margin-left: 20px;
    list-style-type: none;
}

.title{
    text-align: center;
}
.contents-item{
    display: flex;
    justify-content: center ;
}
.contents-item .item {
    margin: 0px 10px 0px 10px;
}
.contents-item .item img{
    height: 200px;
    width: 150px;
}
.contents-item .item{
    text-align: center;
}
.contents-item .item button{
    width: 100px;
    height: 30px;
    background-color: yellow;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0;
}
.copy{
    text-align: center;
    margin-top: 100px;
}